
:javascript
  function render_document(filename) {
    window.open('/docs?filename='+filename, "_blank")
  }

  function render_site(site) {
    window.open(site+"?time="+Math.random(), "_blank")
    return false
  }

  function return_wirelog_filename() {
    return "#{Rails.application.config.wire_log.output_file_name}"
  }


:textile

  h3. LuMoS -- Admin Actions
  
  h3. * "Register New Tool":/admin/register_new_tool
  
  h3. * "Maintain Tools":/admin/tool_actions
  
  h3. * "Clear Wirelog":/admin/admin_actions?operation=clearlog

%h3
  *
  %a{:href => "#", :onclick => 'return render_document(return_wirelog_filename())'} Show Wirelog
  
